body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: #434455;
    background-color: #ffffff;
}
.header {
    background-color: #ffffff;
    align-items: center;
}
.logo-black {
    color: #2E2F42;
}
.logo {
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    display: inline;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}
nav {
    display: flex;

}
nav a {
    text-decoration: none;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
}
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.nav-link:hover {
    color: #404bbf;
}
.nav-link:active {
    color: #404bbf;
}
.nav-link:focus {
    color: #404bbf;
}
address {
    font-style: normal;
    color: #434455;
}
.contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-decoration: none;
    
}
.contact-link:hover {
    color: #404BBF;
}
.contact-link:focus {
    color: #404BBF;
}
.blue-parts {
    background-color: #2e2f42;
    text-align: center;    
}
.blue-part-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}
.blue-part-button {
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    background-color: #4d5ae5 ;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.blue-part-button:hover {
    background-color: #404BBF;
}
.blue-part-button:focus {
    background-color: #404bbf;
}
.value {
    background-color: #ffffff;
    color: #2E2F42;
    text-align: left;
}
.value-title {
    display: none;
}
.value-item, .value-item,.value-item,.value-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.value-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
.team {
    background-color: #f4f4fd;
}
.team-title {
    text-transform: capitalize
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42 ;
}
.team-item {
    background-color: #ffffff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
}
.team-member {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}
.team-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.portfolio {
    background-color: #ffffff;
}
.portfolio-title{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}
.portfolio-item {
    width: 360px;
    height: 420px; 
    background-color:#ffffff ;
    border: 1px solid #e7e9fc;
}
.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;   
}
.portfolio-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455 ;   
}
ul {
    list-style: none;
}
.footer {
    width: 1440px;
    height: 312px;
    background-color: #2E2F42;
}
.logo-white {
    color: #f4f4fd;
    display: inline;
    
}
.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    width: 115px;
    height: 24px;
    text-decoration: none;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd; 
}
